<h1>BURGERS!</h1>

<div id="burg-image">
    <img class="image" src="https://cdn.pixabay.com/photo/2017/02/05/21/06/burger-2041192_960_720.jpg">
</div>

<h2>Which Burger Would You Like?</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
    <h3>{{this.burger_name}}</h3>
    <button burgerId={{this.id}} class="devour-status">Devour</button>
  {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured }}
      <h3>{{this.burger_name}}</h3>
    {{/if}}
  {{/each}}
</ul>

<h2>Devour Your Own Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="burger-name" name="name">
  </div>

  <button id="burgBtn" type="submit">Add New Burger</button>
</form>




<script>

  $('#burgBtn').on('click', function(event) {
    event.preventDefault()
    console.log('CLICKED', $('#burger-name').val())
    $.ajax({
        url: '/api/addnew',
        data: {name:$('#burger-name').val()},
        type: 'POST'
      }).then(function (data) {
        window.location.reload();
    })
  });

  $('.devour-status').on('click', function (event) {
    event.preventDefault();
    console.log('CLICKED')
    $.ajax({
      url: '/api/devoured/' + $(this).attr('burgerId'),
      type: 'PUT'
    }).then(function (data) {
      window.location.reload();
    })
  });

  


</script>